In [28]:
# Consider following code to answer further questions:

import pandas as pd
course_name = ["Data Science", "Machine Learning", "Big Data", "Data Engineer"]
duration = [2,3,6,4]
df = pd.DataFrame(data = {"course_name" : course_name, "duration" : duration})
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

In [31]:
# Q1. Write a code to print the data present in the second row of the dataframe, df.

df.loc[[1], ["course_name","duration"]]

        course_name  duration
1  Machine Learning         3

In [ ]:
# Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

# ans
""" 
loc: The loc function is primarily label-based, which means it uses labels to index and 
select data. It accepts label-based indexing, meaning you can pass the row and column 
labels directly to access specific data points.

iloc: The iloc function, on the other hand, is primarily integer-based, which means it 
uses integer positions to index and select data. It accepts integer-based indexing, 
where you can pass the row and column indices to access specific data points.
"""

In [43]:
""" Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in
the variable, new_df then find the output for both new_df.loc[2] and new_df.iloc[2]. """

# ans
new_df=df.reindex([3,0,1,2])
new_df.loc[[2]]

  course_name  duration
2    Big Data         6

In [44]:
new_df.iloc[[2]]

        course_name  duration
1  Machine Learning         3

In [ ]:
""" Yes, I observed the difference between new_df.loc[2] and new_df.iloc[2].
The new_df.loc[2] takes the indexes values and new_df.iloc[2] which takes the 
default indexes. """

In [46]:
# Consider the below code to answer further questions:

import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [47]:
# Q4. Write a code to find the following statistical measurements for the above dataframe df1:

In [51]:
# (i) mean of each and every column present in the dataframe.

df1.mean()

column_1    0.400467
column_2    0.501953
column_3    0.461979
column_4    0.498165
column_5    0.689192
column_6    0.221139
dtype: float64

In [53]:
# (ii) standard deviation of column, ‘column_2’

df1["column_2"].std()

0.2513614683200551

In [66]:
""" Q5. Replace the data present in the second row of column, ‘column_2’ by a string 
variable then find the mean of column, column_2.
If you are getting errors in executing it then explain why.
[Hint: To replace the data use df1.loc[] and equate this to string data of your choice.] """

df1.loc[2,"column_2"]="shiry"
df1["column_2"].mean()
# ans
""" It raises an error due to the float objects and string objects cannot take any
arithmetic operations. """

In [69]:
""" Q6. What do you understand about the windows function in pandas and list the types 
of windows functions? """

# ans
""" In pandas, the window functions are used to perform calculations on a specific "window"
or subset of data within a DataFrame. These functions operate on a sliding window of data
and can be used to calculate rolling statistics, apply custom functions, and perform 
various other operations.

Window functions in pandas are typically applied using the rolling or expanding methods,
which create a window object on which various calculations can be performed. 
The main types of window functions in pandas are:

Rolling Window Functions:

rolling(): This function creates a rolling window object that allows you to calculate 
statistics over a specified window size. It can be used to calculate rolling mean, 
rolling sum, rolling standard deviation, and other rolling statistics.

rolling().apply(): This method allows you to apply a custom function to a rolling window.
You can define your own function and apply it to the rolling window object to perform 
calculations on the window.

rolling().agg(): This method allows you to apply multiple aggregation functions to a 
rolling window. You can pass a list of functions (such as mean, sum, std) and calculate 
multiple statistics simultaneously.

Expanding Window Functions:

expanding(): This function creates an expanding window object that expands the window
size over time, including all the previous rows. It can be used to calculate expanding 
sum, expanding mean, and other expanding statistics.

expanding().apply(): This method allows you to apply a custom function to an expanding
window. Similar to the rolling window, you can define your own function and apply it to
the expanding window object.

expanding().agg(): This method allows you to apply multiple aggregation functions to an
expanding window. You can pass a list of functions and calculate multiple statistics over
the expanding window. """

In [76]:
""" Q7. Write a code to print only the current month and year at the time of answering 
this question.
[Hint: Use pandas.datetime function] """

import pandas as pd

current_date = pd.datetime.now()
current_month = current_date.month
current_year = current_date.year

print(f"Current month: {current_month}")
print(f"Current year: {current_year}")

Current month: 6
Current year: 2023

/tmp/ipykernel_174/121854747.py:7: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  current_date = pd.datetime.now()

In [77]:
""" Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD)
and calculates the difference between them in days, hours, and minutes using Pandas time delta.
The program should prompt the user to enter the dates and display the result. """

import pandas as pd

# Prompt the user to enter the dates
date1 = input("Enter the first date (YYYY-MM-DD): ")
date2 = input("Enter the second date (YYYY-MM-DD): ")

# Convert the input strings to pandas datetime objects
date1 = pd.to_datetime(date1)
date2 = pd.to_datetime(date2)

# Calculate the timedelta between the two dates
timedelta = date2 - date1

# Extract the days, hours, and minutes from the timedelta
days = timedelta.days
hours = timedelta.seconds // 3600
minutes = (timedelta.seconds % 3600) // 60

# Display the result
print(f"Difference: {days} days, {hours} hours, {minutes} minutes")

Enter the first date (YYYY-MM-DD):  2023-05-31
Enter the second date (YYYY-MM-DD):  2023-06-03

Difference: 3 days, 0 hours, 0 minutes

In [79]:
""" Q9. Write a Python program that reads a CSV file containing categorical data and 
converts a specified column to a categorical data type. The program should prompt the 
user to enter the file path, column name, and category order, and then display the
sorted data. """

import pandas as pd

# Prompt the user for file path, column name, and category order
file_path = input("Enter the CSV file path: ")
column_name = input("Enter the column name: ")
category_order = input("Enter the category order (comma-separated): ")

# Read the CSV file
data = pd.read_csv(file_path)

# Convert the specified column to categorical with user-defined category order
categories = [cat.strip() for cat in category_order.split(",")]
data[column_name] = pd.Categorical(data[column_name], categories=categories, ordered=True)

# Sort the data by the specified column
sorted_data = data.sort_values(column_name)

# Display the sorted data
print(sorted_data)

Enter the CSV file path:  data.csv
Enter the column name:  Duration
Enter the category order (comma-separated):  Pulse

    Duration  Pulse  Maxpulse  Calories
0        NaN    110       130     409.1
1        NaN    117       145     479.0
2        NaN    103       135     340.0
3        NaN    109       175     282.4
4        NaN    117       148     406.0
..       ...    ...       ...       ...
164      NaN    105       140     290.8
165      NaN    110       145     300.0
166      NaN    115       145     310.2
167      NaN    120       150     320.4
168      NaN    125       150     330.4

[169 rows x 4 columns]